#summary {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
}

//Portrait screens with consideration for mobile screens that lose portrait ratio when the keyboard is up
@media only screen and (orientation: portrait), (max-width: 480px) {
}

//Landscape screen in variety
@media only screen and (orientation: landscape) {
  //TVs and Extra Wide Screens
  @media (min-width: 1921px) {
  }
  //Desktops and Large Tablet Screens
  @media (max-width: 1920px) {
    // Lines
    #summary .line1 {
      font-size: 18px;
    }
    #summary .line2 {
      font-size: 14px;
      color: #7f7f7f;
    }
    #summary .line3 {
      font-size: 14px;
    }
    #summary .line4 {
      font-size: 14px;
    }
    #summary .line5 {
      font-size: 14px;
      color: #0000ff;
    }

    // Other

    #summary .sdevm {
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 1vw;
      left: 1vw;
      font-size: 28px;
      color: white;
      z-index: 2;
    }

    #summary .sdevm:hover {
      cursor: pointer;
    }

    #summary .sdevm .github {
      position: absolute;
      top: 50%;
      left: 110%;
      transform: translateY(-50%);
      z-index: 1;
    }

    #summary .sdevm .linkedin {
      position: absolute;
      top: 50%;
      left: calc(110% + 40px);
      transform: translateY(-50%);
      z-index: 1;
    }

    #summary .sdevm .avatar {
      position: absolute;
      top: 100%;
      left: 100%;
      width: 10vw;
      height: 10vw;
    }

    #summary .sdevm .avatar:after {
      content: "";
      background: url("~src/assets/icons/avatar.png");
      background-size: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation: flicker 3s linear infinite;
    }

    #summary .sdevm .avatar .topBox {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20%;
      left: 120%;
      width: max-content;
      height: 80%;
      line-height: 110%;
    }

    #summary .sdevm .avatar .topBox .start {
      font-size: 24px;
      animation: fadeInOut 3.25s linear infinite;
    }

    #summary .sdevm .avatar .topBox .start:hover {
      cursor: pointer;
    }
  }
  //Phones and Tablets up to Laptops and Small Monitors
  @media (max-width: 1280px) {
  }
}
