//Portrait screens with consideration for mobile screens that lose portrait ratio when the keyboard is up
@media only screen and (orientation: portrait), (max-width: 480px) {
}

//Landscape screen in variety
@media only screen and (orientation: landscape) {
  //TVs and Extra Wide Screens
  @media (min-width: 1921px) {
  }
  //Desktops and Large Tablet Screens
  @media (max-width: 1920px) {
    .sdevm {
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 48px;
      color: white;
    }
  }
  //Phones and Tablets up to Laptops and Small Monitors
  @media (max-width: 1280px) {
  }
}
